<div id="medicos" class="container">

  <h1>Médicos</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">CRM</th>
        <th scope="col">Nome</th>
        <th scope="col">Especialidades</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medico of medicos; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ medico.crm }}</td>
        <td>{{ medico.nome }}</td>
        <td>
          <span *ngFor="let especialidade of medico.especialidade">
            {{ especialidade.name }}, 
          </span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
