/* You can add global styles to this file, and also import other style files */

.btn-primary {
  background-color: #49b4bb;
  border-color: #49b4bb;
  color: #fff;
}

.btn-link {
  color: #49B4BB;
  text-decoration: none;
}

table td {
  vertical-align: middle;
}